@(message: String, style: String = "Scala")

@play.api.Play.maybeApplication.filterNot(_.mode != play.api.Mode.Dev).map { _ =>

<link rel="stylesheet" media="screen" href="/@@documentation/resources/style/main.css"
      xmlns="http://www.w3.org/1999/html">

<section id="top">
    <div class="wrapper">
        <h1><a href="/@@documentation">@message</a></h1>
        <nav>
            <span class="versions">
                <span>Browse APIs</span>
                <select onchange="document.location=this.value">
                    <option selected disabled>Select language</option>
                    <option value="/@@documentation/api/scala/index.html">Scala</option>
                    <option value="/@@documentation/api/java/index.html">Java</option>
                </select>
            </span>
        </nav>
    </div>
</section>

<div id="news">
    <iframe src="http://www.playframework.org/widget?uid=@play.api.Play.maybeApplication.flatMap(_.configuration.getString("application.secret")).map(_.take(5)).map(play.api.libs.Codecs.sha1(_))&version=@play.core.PlayVersion.current&tag=@style.toUpperCase" scrolling="no" style="overflow: hidden; display: block; margin: 0 auto; width: 960px; height: 60px"></iframe>
</div>


<div id="content" class="wrapper doc">

<article>

    <h1>Welcome to RWW-Play</h1>

    <p>
        Congratulations, you’ve just started the RWW Play Application, running in
        <a href="https://github.com/bblfish/Play20">Play-2.1 updated with TLS.</a>.
        This page is to help get you going with the latest Play documentation, and
        pointers to some running services.
    </p>

    <blockquote>
        <p>
            You’re using Play @play.core.PlayVersion.current
        </p>
    </blockquote>

    <h2>About</h2>
    <p>This Web Application is putting together the tools to build the read-write-web.
    This requires a number of pieces:
    <ul>
        <li>The Linked Data Platform (<a href="http://www.w3.org/2012/ldp/hg/ldp.html">LDP spec</a>) defined at the W3C,
        to specify how a client can create, update, query and delete resources.</li>
        <li>Authentication using WebID ( see <a href="http://webid.info">WebID.info</a> ). </li>
        <li>Authorization using the <a href="http://www.w3.org/wiki/WebAccessControl">Web Access Control</a> ontology,
        together with WebID.</li>
    </ul>
    </p>
    <p>This should be complemented with the help of some Web2.0 services:
    <ul>
        <li>WebID Certificate Creation for people with existing profiles</li>
        <li>A WebID Identity Provider ( such as <a href="https://foafssl.org/srv/idp">this one</a> )
            so that other apps that don't have TLS can join easily.
        </li>
        <li><a href="https://foafssl.org/test/WebId">A WebID client test service</a>: so that authentication
            problems can be quickly found and understood.
        </li>
        <li>WebID server tester: this will be useful to help people with new WebID implementations.</li>
    </ul>
    </p>
    <p>It will be then useful to build some simple and useful apps to demonstrate the platform such as:
      <ul>
        <li>Blog engine</li>
        <li>Profile page where friends can be added</li>
        <li>Pingback</li>
      </ul>
    </p>

    The aim is to have these pieces working together to build a use case, and later seperate the pieces
    into autonomous libraries.
    </p>

    <h2>What is working now?</h2>

    <p>At this point this is still very much work in progress. But some pieces are already working.</p>
    <ul>
        <li>WebID Certificate Creation: <a href="@routes.ClientCertificateApp.get">@routes.ClientCertificateApp.get</a>
            for people that already have a WebID and wish to have an easy way to create a certificate. (does not work
            with IE yet ).
        </li>
 <!--   <li>CORS Proxy: <a href="routes.CORSProxy.about">routes.CORSProxy.about</a> </li>
        <li>LinkedDataPlatform: <a href='@MainController.about'>@MainController.about</a>: very minimalistic at
            present, does not even save information in long term memory.
            See <a href="https://github.com/read-write-web/rww-play#linked-data">the LinkedData section in the Wiki</a>
        for usage.</li>
        <li><a href="http://www.w3.org/wiki/WebAccessControl">Web Access Control</a>, which can be demonstrated with
            this very basic applications
            <a href='routes.BasicApp.webId("something")'>routes.BasicApp.webId("something")</a>
        </li>
 -->   </ul>

    <h2>Todo</h2>

    <ul>
        <li>The <a href="http://www.w3.org/2012/ldp/hg/ldp.html">Linked Data Platform</a> (LDP) defined at the W3C</li>
        <li><a href="http://webid.info/">WebID Certificate Creation</a> </li>
        <li><a href="http://webid.info/">WebID Authentication over TLS</a></li>
        <li><a href="https://foafssl.org/srv/idp">A WebID Identity Provider</a></li>
        <li>Account creation and friend management</li>
        <li>Blog engine</li>
    </ul>

</article>
<aside>
    <h3>Browse</h3>
    <ul>
        <li><a href="/@@documentation">Local documentation</a></li>
        <li><a href="/@@documentation/api/scala/index.html">Browse the Scala API</a></li>
    </ul>
    <h3>Start here</h3>
    <ul>
        <li><a href="/@@documentation/PlayConsole">Using the Play console</a></li>
        <li><a href="/@@documentation/IDE">Setting up your preferred IDE</a></li>
        <li><a href="/@@documentation/ScalaTodoList">Your first application</a></li>
    </ul>
</aside>

<aside>
    <h3>Browse</h3>
    <ul>
        <li><a href="/@@documentation">Local documentation</a></li>
        <li><a href="/@@documentation/api/java/index.html">Browse the Java API</a></li>
    </ul>
    <h3>Start here</h3>
    <ul>
        <li><a href="/@@documentation/PlayConsole">Using the Play console</a></li>
        <li><a href="/@@documentation/IDE">Setting up your preferred IDE</a></li>
        <li><a href="/@@documentation/JavaTodoList">Your first application</a></li>
    </ul>
</aside>



</div>

}.getOrElse {

<h1>@message</h1>

}
