<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

    <head>
        <title>Primary Html file.</title>




        <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        <script type="text/javascript" src="/assets/ldp/lib/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="/assets/ldp/lib/underscore.js"></script>
        <script type="text/javascript" src="/assets/ldp/lib/q.js"></script>
        <script type="text/javascript" src="/assets/ldp/lib/rx.js"></script>
        <script type="text/javascript" src="/assets/ldp/lib/rx.async.js"></script>

        <!-- For now we use the link of github js to be able to stay up to date with the rdflib-stample-pg-extension -->
        <script type="text/javascript" src="https://rawgithub.com/stample/rdflib-pg-extension/master/releases/0.1.0/rdflib-stample-0.1.0.js"></script>
        <script type="text/javascript" src="https://rawgithub.com/stample/rdflib-pg-extension/master/releases/0.1.0/rdflib-stample-pg-extension-0.1.0.js"></script>

        <script type="text/javascript" src="/assets/ldp/js/loadScript.js"></script>
        <script type="text/javascript" src="/assets/ldp/js/loadCSS.js"></script>
        <script type="text/javascript" src="/assets/ldp/viewer.js"></script>
    </head>

<body>
    <div id="container">
            <!-- Application Renders Here-->
    </div>
</body>

</html>
