@(certForm: play.api.data.Form[controllers.CertReq])

@import helper._

@title = {
    Create a Certificate for hand written profile
}

@main(title,NavigationBar.CreateCertificate) {
    <p>If you already have one or more hand written <a href="http://xmlns.com/foaf/0.1/">FOAF profile</a>(s),
        where you have a <a href="http://webid.info/">WebID</a>, then you can use
        this form to create a certificate for them.</p>
    <p>When you submit the filled out form below, your browser will create a public/private key and send us the
        public key plus all the other information you entered. (note: your private key will not leave your
        machine). From this we will generate the equivalent of a self signed certificate, and send it back to
        your browser, which will then add the completed certificate to your keychain. Once you have added the
        public key to your profile, you will then be able to use this certificate to login to WebID enabled sites.</p>

    @helper.form(action=routes.ClientCertificateApp.generate) {
    <fieldset><legend>Certificate details</legend>
        @inputText(certForm("CN"),
            '_label -> "Name",
            '_help -> "eg: name@domain")
        @repeat(certForm("webids"), min=2) { webidField =>
            @inputText(webidField,
                '_label -> "WebID",
                '_help -> "absolute url, eg: https://domain.../profile#me",
                '_error -> { if (webidField.name == "webids[0]") certForm("webids").error}
            )
        }
        @inputText(certForm("years"),
            '_label -> "Valid for (years)",
            '_error -> "invalid number of years (1..20)"
        )
        <div class="clearfix" id="keygen">
            <label for="keygenerator">Key Strength</label>
            <div class="input">
               <keygen id="keygenerator" keytype="rsa" name="spkac" challenge="@ClientCertificateApp.challenge"/>
            </div>
        </div>
        <button type="submit" onclick="this.form.submit()">Create your certificate</button>
    </fieldset>
    }
}
