@(title: Html, nav: NavigationBar.Value = NavigationBar.NoFocus)(content: Html)

@import controllers._
@import controllers.NavigationBar

<!DOCTYPE html>

<html>
    <head>
        <title>Form samples</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.at("ldp/css/jquery-ui-smoothness-1.10.3/jquery-ui.css")">
        <script src="@routes.Assets.at("ldp/lib/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("ldp/lib/jquery-ui.min-1.10.3.js")" type="text/javascript"></script>
    </head>
    <body>
        
        <!--div class="topbar">
            <div class="fill">
                <div class="container">
                    <ul class="nav">
                        <li class="@("active".when(nav == NavigationBar.Home))">
                            <a href="@routes.MainController.index">Home</a>
                        </li>
                        <li class="@("active".when(nav == NavigationBar.CreateSubdomain))">
                            <a href="@routes.Subdomains.createSubdomain">Create Subdomain</a>
                        </li>
                        <li class="@("active".when(nav == NavigationBar.CreateCertificate))">
                            <a href="@routes.ClientCertificateApp.get">Create Certificate</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div-->

        <div class="container">

            <section id="logoStample">
                <img src="@routes.Assets.at("images/logo.png")" alt="Stample">
                <div id="companyName">Stample</div>
            </section>

            <div class="content">
                <div class="page-header">
                    <div class="description">Stample helps you, your team and your clients innovate together
                        by creating collaborative workspaces for research and discussion.</div>
                </div>

                <div class="row">
                    <div class="span14">
                        @content
                    </div>
                </div>
            </div>

            <footer id="logoWedib">
                <img src="@routes.Assets.at("images/webid.png")" alt="Stample">
            </footer>

        </div>
        
    </body>
</html>
