<div id="alert" style="display: none;">
	<div id="alertbody" style="display: inline;"></div>
</div>

<div id="topnav" class="topnav center width-900">
	<img src="/assets/ldp/images/logo.svg" class="logo-icon left" /><span class="title" title="Home"><a href="https://stample.io">STAMPLE.I/O</a></span>
	<div class="login">
                <span class="login-links"><a class="white" href="#">WebID Login</a>
                <br/><a class="white" href="#">Get a WebID</a></span>
		<img class="login-photo" src="/assets/ldp/images/nouser.png" />
	</div>
</div>

<div id="container" class="main-container">

	<div id="viewerContent" class="center width-900"></div>

	<div id="userbar" class="width-200"></div>

	<hr class="center" />

</div>
