<div id="alert" style="display: none;">
	<div id="alertbody" style="display: inline;"></div>
</div>
<div id="title" style="display: none;">Index of /</div>

<div id="topnav" class="topnav center">
	<img src="images/logo.svg" class="logo-icon left" /><span class="title" title="Home"><a href="http://rww.io">RWW.I/O</a></span>

	<div class="login">
                <span class="login-links"><a class="white" href="https://stample.rww.io">WebID Login</a>
                <br/><a class="white" href="#" onclick="showWebID()">Get a WebID</a></span>
		<img class="login-photo" src="images/nouser.png" />
	</div>
</div>

<div id="container">

<table id="webid-gen" style="display:none;">
	<form method="POST" action="">
		<tr><td><input type="text" name="name" size="40" class="required" placeholder="full name..."></td></tr>
		<tr><td><input type="text" name="path" size="40" value="/profile/card#me" class="required"></td></tr>
		<tr><td><input type="email" name="email" size="40" placeholder="recovery email..."></td></tr>
		<tr class="keygen" hidden><td>Key size<br /><keygen name="SPKAC" challenge="randomchars" keytype="rsa"></td></tr>
		<tr><td><button type="submit" onclick="hideWebID()">Create WebID</button>
			<button type="button" onclick="hideWebID()">Cancel</button>
		</td></tr>
	</form>
</table>

<div class="center">
	<div>

		<div class="cloudactions center width-1024"></div>

		<table id="index" class="files center box-shadow">
			<thead>
			<tr>
				<th> Name</th>
				<th>Size</th>
				<th>Type</th>
				<th>Last Modified</th>
				<th colspan="3">Actions</th>
			</tr>
			</thead>
			<tbody class="lines">
			</tbody>
		</table>

	</div>

	<div class="clear spacer"></div>
</div>

<hr class="center" />
<div class="center align-right width-1024">

	<div onclick="$('codeID').toggle();">
		<div class="footer">
<span class="left">
    <a href="https://github.com/deiu/rww.io" target="_blank">GitHub</a> | <a href="http://rww.io/help">Help?</a> | Show your support
</span>
<span class="left">
    <a data-code="ed957952a941abf15d50696973fa4b92" href="https://coinbase.com/checkouts/ed957952a941abf15d50696973fa4b92" target="_blank"><img src="images/bitcoin.png" alt="Bitcoin donation" title="Bitcoin donation" border="0" /></a>
</span>
<span class="left">
    <a href="http://flattr.com/thing/1748916/" target="_blank"><img src="images/flattr.png" alt="Flattr this project" title="Flattr this project" border="0" /></a>
</span>
<span class="left">
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=YCG7HFRPTVD4A" target="_blank"><img src="images/paypal.png" alt="Paypal donation" title="Paypal donation" border="0" /></a>
</span>

<span id="codeID" class="align-right" style="display:none;">
 request completed in 0.0167s
with 1 query in 0.0002s
 [ librdf: 1.0.14 / raptor: 2.0.6 / rasqal: 0.9.28 ]
</span>
			<span id="codeTime">Performance info...</span>
		</div>

	</div>
</div>
<div class="clear"></div>
</div>