<tr>
	<td class='filename'><a href="<%= uri %>" > <%= name %> </a></td>
	<td> <%= size %> </td>
	<td> <%= type %> </td>
	<td> <%= mtime %> </td>
	<td class='options' ><a class='editFile'>
		<img class='actions' src='images/22/edit.png' title='Edit contents'></a>
	</td>
	<td class='options'><a class='accessControl'>
		<img class='actions' src='images/22/acl.png' title='Access Control'></a>
	</td>
	<td class='options'><a class='deleteFile'>
		<img class='actions' src='images/22/delete.png' title='Delete'></a>
	</td>
</tr>
