<div class="cloudactions center width-900">
	<div id="menu">
		<div class="newitems">
			<div class="left cell inline-block sep-right"><img class="pointer newitem" src="/assets/ldp/images/refresh.png" title="Refresh list" onclick="window.location.reload(true);" /></div>
			<div class="left cell inline-block sep-right"><img class="pointer newitem" src="/assets/ldp/images/home.png" title="Go to top level" /></div>
			<div class="left cell inline-block actions"><img class="pointer newitem" src="/assets/ldp/images/images.png" title="Upload an image" /></div>
			<div class="left cell inline-block"><img class="pointer newitem newCategory" src="/assets/ldp/images/add_folder.png" title="Create a new directory" /></div>
			<div class="left cell inline-block"><img class="pointer newitem newFile" src="/assets/ldp/images/add_file.png" title="Create a new file"  /></div>
			<div class="left cell inline-block"><input id="create-item" class="item" type="text" name="" style="display:none;" /></div>
			<div class="left cell inline-block"><img id="submit-item" class="pointer newitem" src="/assets/ldp/images/ok.png" title="Create" style="display:none;" /></div>
			<div class="left cell inline-block"><img id="cancel-item" class="pointer newitem" src="/assets/ldp/images/cancel.png" title="Cancel" style="display:none;" /></div>
			<div class="left cell inline-block"><form id="imageform" name="imageform" method="post" enctype="multipart/form-data"><input type="file" id="addimage" name="image" style="display:none;" /></form></div>
			<div class="left cell inline-block"><img id="submit-image" class="pointer newitem" src="/assets/ldp/images/upload.png" title="Upload" style="display:none;" /></div>
			<div class="left cell inline-block"><img id="cancel-image" class="pointer newitem" src="/assets/ldp/images/cancel.png" title="Cancel" style="display:none;"  /></div>
		</div>
	</div>

	<div class="meta right top-5">
		<a class="pointer" onclick="setCookie('showMetaFiles', '0', '1');">Hide</a>
		<span> hidden files?</span>
	</div>
</div>